<div layout="column" style="height:100%;" ng-cloak>
<section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="3" layout="column">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">PAINS</h1>
        </md-toolbar>
        <md-list>
            <md-list-item ng-repeat="item in menu" md-ink-ripple>
                <a href="{{item.link}}" class="remove-underline">
                    <md-item-content layout="row" layout-align="start center">
                        <div class="inset">
                            <md-icon> {{item.icon}} </md-icon>
                        </div>
                        <div class="inset">{{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
        </md-list>
        <!--<md-content layout-margin>
            <p>
                This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
            </p>
            <md-button ng-click="toggleLeft()" class="md-accent">
                Close
            </md-button>
        </md-content>-->

    </md-sidenav>

    <md-content flex>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleLeft('left')" hide-gt-md class="md-icon-button" aria-label="Settings">
                    <md-icon> menu </md-icon>
                </md-button>
                <h2>
                    <span>Add New Course</span>
                </h2>
                <span flex></span>

                <md-menu>
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                        <md-icon> more_vert </md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click = "logout()">
                                Logout
                            </md-button>
                        </md-menu-item>
                        
                        <!--<md-menu-divider></md-menu-divider>-->
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

        <form name="courseForm" layout-padding ng-submit="submit()">
            <div layout="column">
                <md-input-container>
                    <label>Course Name</label>
                    <input required name="cname" ng-model="Course.coursename">
                    <div ng-messages="courseForm.cname.$error">
                        <div ng-message="required">Name is required.</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Class</label>
                        <md-select name="Class" ng-model="Course.cid" required>
                            <md-option ng-repeat = "class in classes" value="{{class.cid}}">{{class.cname+'-'+class.csection}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Course Type</label>
                        <md-select name="Type" ng-model="Course.coursetype" required>
                            <md-option value="core">Core Course</md-option>
                            <md-option value="elective">Elective</md-option>
                        </md-select>

                    </md-input-container>
                </div>
            </div>
            <div>
                <md-button md-colors="{background:'primary'}" type="submit">Submit</md-button>
            </div>
        </form>
    </md-content>
</section>
</div>